
body {
  background-repeat: repeat;
  font-family: 'Montserrat', sans-serif;
  background-color: #BFD9D7;
  background-image: url(https://i.imgur.com/BZhXMxC.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  margin-top: 40px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

a {
  color: #AE9152;
}

.google-nav {
  color: black;
  display: block;
  margin-left: auto;
}

.nav-image {
  height: 70px;
  width: 100px;
  float: left;
}

#details-img {
  height: 600px;
  width: 450px;
  margin-left: 15px;
}


.show-page {
  float: right;
  margin-bottom: 20px;

}

.resource-container {
  max-width: 1200px;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 10px 10px;
}

#card-content {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}

#card-div:hover #card-content {
  opacity: 0.80;
}

.card-title{
  font-family: 'Raleway', sans-serif;
  color: black;
  opacity: 1;
  font-size: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#details-btn {
  margin-bottom: 20px;
  background-color: gray;
}

.inquiry-form {
  display: block;
  text-align: center;
}