body {
  background-color: #BFD9D7;
  background-image: url(https://i.imgur.com/Iv7MZaJ.png);
  background-repeat: no-repeat;
  
  
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}



nav {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.nav-google {
  display: flex;
  justify-self: flex-end;
}

.nav-image {
  height: 30px;
  width: 75px;
  display: flex;
  justify-content: start;
}

#details-img {
  height: 600px;
  width: 450px;
  margin-left: 15px;
}

a {
  color: #AE9152;
}

.show-page {
  float: right;
  margin-bottom: 20px;

}