body {
  background-color: #BFD9D7;
  background-image: url(https://i.imgur.com/Iv7MZaJ.png);
  background-repeat: no-repeat;
  
  
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}



nav {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.nav-google {
  display: flex;
  justify-self: flex-end;
}

.nav-image {
  height: 30px;
  width: 75px;
  display: flex;
  justify-content: start;
}

#details-img {
  height: 600px;
  width: 450px;
  margin-left: 15px;
}

a {
  color: #AE9152;
}

.show-page {
  float: right;
  margin-bottom: 20px;

}

#card-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}

#card-div:hover #card-content {
  opacity: 0.80;
}

.card-title{
  color: black;
  opacity: 1;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}