<%- include('../partials/header') %>

<h3>New piece page</h3>

<form id="new-form" action="/woodarts" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Created:</label>
    <input type="text" name="created">
    <label>Image Url:</label>
    <input type="text" name="imageUrl">
    <label>Description:</label>
    <input type="text" name="description">
    <input type="submit" value="Add Piece">
  </form>

<%- include('../partials/footer') %>