<%- include('../partials/header') %>


  <div class="navbar-fixed">
  
      
<a href="https://www.instagram.com/kailahs.kreations/">Check us out on instagram!</a>

  <%- include('../partials/footer') %>