<%- include('../partials/header') %>


  <div class="navbar-fixed">
  
      
  <ul>Registered Users:
    <% users.forEach(u => { %>
      <li><%= u.name %></li>
    <% }) %>
  </ul>

  <%- include('../partials/footer') %>