<%- include('../partials/header') %>

<div class="navbar-fixed">
<div id="home-page" class="animate__animated animate__fadeInDown">
  <img class="animate__animated animate__fadeInDown" id="logo-img" src="https://i.imgur.com/RF3QPgp.png" alt="">
  <h3 class="animate__animated animate__fadeInDown">About Me</h3>
  <p>
    As the daughter of an avid woodworker and crafting Queen, the path to woodburning came as no surprise. Growing up on Eastern Long Island surrounded by farm land, I sought out many creative outlets throughout my youth. Such as yarn bracelets, knitting, crocheting, and making various items from duct tape. My woodburning journey started when I wanted to make a custom gift for my Father for Christmas. As I searched Pinterest for ideas I came across a wood piece with a quote burned into it. I immeadiately knew that's what I wanted to do and I haven't looked back since. 
    <br>
    <br>
    Aside from woodburning, I also enjoy playing with my animals and fishing in my spare time. 

    
  </p>
  <a class="nav-link active" href="https://www.instagram.com/kailahs.kreations/"><img id="insta-img"class="animate__animated animate__fadeInDown" src="https://i.imgur.com/ei5ceDM.png"></a>
  
</div>

<%- include('../partials/footer') %>