<%- include('../partials/header') %>

<h3>Make an Inquiry!</h3>

<div class="inquiry-form">
    <form action="/nodemail" method="POST">
        <label>Email: </label>
        <input type="text" name="email" placeholder="Your email here" required>
        <label>Name: </label>
        <input type="text" name="name" placeholder="Your name here" required>
        <label>Subject: </label>
        <input type="text" name="subject" placeholder="New Inquiry" required>
        <label>Message: </label>
        <input type="text" name="message" placeholder="Type your message..." required>
        <input type="submit" value="Send Email">
    </form>
</div>



<%- include('../partials/footer') %>